.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cecbcb;
    padding: 1rem;
    border:2px solid #ccc;

}

.formSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox {
    width: 60%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.submitButton {
    margin-top: 1.5rem;
    padding: 0.75rem;
}

.registerText {
    margin-top: 2rem;
    text-align: center;
    color: #777;
    cursor: pointer;
}